/ConexionBD/nbproject/private/
/ProyectBD_mysql/nbproject/private/
/ProyectBD_mysql/build/

*.class
/ElMote_Elian/nbproject/private/
/ElMote_Elian/build/
/Conta_AronMosqueda/nbproject/private/
/Conta_AronMosqueda/build/
/SitemaCosteoPorOrdenes/SitemaCosteoPorOrdenes/nbproject/private/
/SitemaCosteoPorOrdenes/SitemaCosteoPorOrdenes/build/
